.clock {
    position: absolute;
    inset: 0.5rem 1rem auto auto;
}

.clock p {
    color: rgba(255, 255, 255, 0.781);
    font-size: 12px;
    letter-spacing: 2px;
}

/* 
==============
Media Queries
=======
*/

@media (min-width: 768px) {
    .clock p {
        font-size: 1rem;
    }
}