.search__form {
    display: grid;
    grid-template-columns: 3.2fr 1fr;
}

.search__form input {
    padding: 0.6rem 0.8rem;
    border: none; 
    outline: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: rgba(255, 255, 255, 0.39);
}

.search__form input::placeholder{
    color: rgba(255, 255, 255, 0.555);
}

.search__form input {
    color: #222;
    letter-spacing: 2px;
}

.search__form button {
    border: none;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

/* 
=========================
Media Queries
============
*/

@media (min-width: 768px) {
    .search__form {
        width: 60%;
    }
}