.settings__menu {
    height: 100vh;
    width: 100%;
    /* background-color: rgba(87, 34, 34, 0.4); */
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    transition: 0.4s ease-in-out;
    transform: translateX(100%);
}

.settings__menu main {
    position: relative;
    padding: 0.5rem;
}

.closeBtn {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    background-color: transparent;
}

.closeBtn .cross {
    position: relative;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line1, .line2 {
    position: absolute;
    width: 30px;
    height: 4px;
    border-radius: 4px;
    background-color: #222;
    top: 50%;
    translate: 0 -50%;
}

.line1 {
    transform: rotate(-45deg);
}

.line2 {
    transform: rotate(45deg);
}

.settings__menu button {
    cursor: pointer;
    border: none;
}

.show__menu {
    transform: translateX(0);
}

.default__city {
    margin: 4rem auto 1rem auto;
    display: flex;
}


.default__city input {
    border: none;
    outline: none;
    padding: 0.2rem 1rem;
    background-color: transparent;
    letter-spacing: 2px;
    width: 80%;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}   

.default__city input::placeholder {
    color: #fff;
}

.default__city :-ms-input-placeholder {
    color: #fff;
}

.default__city input::-moz-placeholder {
    color: #fff;
}

.default__city button {
    background:rgba(0, 0, 0, 0.65);
    color: #fff;
    font-size: 0.75rem;
    letter-spacing: 1px;
    padding: 0.2rem 0.5rem;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.units__setting {
    margin-top: 2rem;
}

.units__setting .unit__title {
    font-weight: 500;
    color: #fff;
}

.units__setting button {
    background: transparent;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 4px 8px;
    background-color: rgba(32, 178, 171, 0.6);
    border-radius: 8px;
}

.row button {
    padding: 8px;
    font-weight: 500;
    color: #fff;
    border-radius: 8px;
    letter-spacing: 1px;
    font-size: 14px;
}

.row div {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 8px;
}

.settings__menu .selected {
    background-color: #dc143c;
    box-shadow: 1px 1px 1px #222;
}

.actionBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.actionBtn button {
    padding: 0.5rem 1.2rem;
    border-radius: 8px;
    font-size: 12px;
    background:rgba(0, 0, 0, 0.65);
    color: #fff;
    letter-spacing: 2px;
    border: 2px solid transparent;
    transition: 0.15s;
}

.actionBtn button.clicked {
    border-color: #0c0;
    background-color: transparent;
    color: #afa;
}


/* 
===================
Media queries
=========
*/
@media (min-width: 600px) {
    .settings__menu {
        width: 450px;
    }

    .actionBtn button {
         width: 200px;
    }
}