.settings__menu {
    height: 100vh;
    width: 100%;
    background-color: rgba(34, 34, 34, 0.342);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    transition: 0.4s ease-in-out;
    transform: translateX(100%);
}

.settings__menu button {
    cursor: pointer;
    border: none;
}

.show__menu {
    transform: translateX(0);
}

.default__city {
    margin-top: 4rem;
}

.units__setting button {
    margin-left: 1rem;
    background: transparent;
}

.row {
    display: flex;
    gap: 10px;
}

.settings__menu .selected {
    background-color: #fff;
    color: #222;
}

/* 
===================
Media queries
=========
*/
@media (min-width: 768px) {
    .settings__menu {
        width: 40%;
    }
}