@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    letter-spacing: 2px;
    line-height: 1.6;
    overflow-x: hidden;
    background-color: #ebe3e3;
}

img {
    display: block;
    max-width: 100%;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.loader img {
   width: 40px;
   height: 40px;
}   
