@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    /* background-image: linear-gradient(45deg, #8d59ff, #4600e1); */
    background-color: #2196F3;
    min-height: 90vh;
    letter-spacing: 2px;
    line-height: 1.6;
}

img {
    display: block;
    max-width: 100%;
}
